@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Suranna&display=swap');
@import "components/colection.scss";

$color-primary: #ff8990;
$color-font-white: #fdedee;
$color-font-dark-rose: #cf000a;
$color-font-dark: #0e0e0e;
$font-primary: "Suranna", serif;
$font-secundary: "DM Sans", sans-serif;

@mixin font($font, $size, $color){
    font-family: $font;
    font-size: $size;
    color: $color;
    text-align: center;
}

.navbar {
  background-color: $color-primary !important;
}

#navbarNav a:hover {
  font-weight: bold;
}

a {
    color: $color-font-white;
}

h2, h3, h4 {
    margin: 1rem;
    @include font($font-secundary, 1.8rem, $color-font-dark-rose);
    font-weight: bold;
}


#capa {
  background-image:
    radial-gradient(circle, #000000a8 20%, #00000077 100%),
    url("/imgs/top-view-sanitary-towel-with-heart.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    @include font($font-primary, 2.5rem, $color-font-white);
  }

  p {
    @include font($font-secundary, 1rem, $color-font-white);
  }
}

section {

    p {
        @include font($font-secundary, 1rem, $color-font-dark);
        text-align: start;
        margin: 1.5rem 1rem;
    }
}

footer{
  display: block;
  text-align: center;
  margin: 1rem 0;

  a {
    margin: 1rem 0;
    color: $color-font-dark-rose;
  }

  a:hover{
    color: $color-primary;
  }
}

// @media (min-width: 800px) {
//   #colection{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: row;
//   }
// }