@import "components/colection";
@import "components/pontosDeColeta";
@import "components/vars";
@import "components/mixins";

// 1. Essenciais do Bootstrap
// @import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// 2. Componentes que você usa (Exemplos)
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/transitions"; // Importante para a animação do menu

.Carregando {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: $color-primary !important;
  font-weight: 600;
  z-index: 2;

  a {
    @include font($font-secundary, 1.2rem, $color-font-dark-rose);
    color: $color-font-white !important;
  }
}

#navbarNav a:hover {
  @include text-shadow(0.2, $color-font-white);
  font-weight: bold;
}

h2,
h3,
h4 {
  margin: 1rem;
  @include font($font-secundary, 1.8rem, $color-font-dark-rose);
  font-display: fallback;
  font-weight: bold;
}

p, ol > li {
  @include font($font-secundary, 1rem, #000000);
  font-display: fallback;
  text-align: start;
  margin: 1.2rem 0;
}

figcaption{
  @include font($font-secundary, 1rem, $color-font-white);
}

#capa {
  background-image:
    radial-gradient(circle, #000000a8 20%, #00000077 100%),
    url("/absHeartP.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 60vh;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    @include font($font-primary, 2.5rem, $color-font-white);
  }

  p {
    @include font($font-secundary, 1rem, $color-font-white);
  }
}

section {
  margin: 0 1rem;
}

blockquote {
  text-align: center;
  margin: 1rem 0;
  color: #474747;
}

footer {
  display: block;
  text-align: center;
  margin: 1rem 0;

  a {
    margin: 1rem 0;
    color: $color-font-dark-rose !important;
    text-decoration: none;
  }

  a:hover {
    @include text-shadow(0.5, CurrentColor);
  }
}

@media (min-width: 850px) {
  #capa {
    background-image:
      radial-gradient(circle, #000000a8 20%, #00000077 100%),
      url("/absHeart.jpg");
  }

  section {
    margin: 0 4.5rem;
  }
}
