.figure-container {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;

  picture {
    display: block;
    width: 100%;
    height: auto;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #00000080;

    display: flex;
    justify-content: center;
    align-items: center;

    figcaption {
      color: white;
      font-weight: bold;
      text-align: center;
    }
  }
}

@media (min-width: 850px) {
  #colection {
    display: grid;
    grid-template-columns: auto auto;
    gap: 25px;
  }
}
